.noncolored-square {
    border: 1px solid black;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-grow: 1;
}

.grid-container {
    display: flex;
    flex-flow: column;
    height: 600px;
    width: 600px;
}

/* styling and positioning of html objects */