.noncolored-square {
    border: 1px solid black;
    box-sizing: border-box;
    flex-grow: 1;
    /* allows user to not be able to select the boxes, thus causing a dragging bug */
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.no-borders {
    border: 0px !important;
}

.noncolored-square+.noncolored-square {
    border-left: 0;
}

.row {
    display: flex;
    flex-grow: 1;
}

.grid-container {
    display: flex;
    flex-flow: column;
    height: 700px;
    width: 700px;
    border: 1px solid black;
}

/* positioning of html objects */

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.non-title {
    display: flex;
    gap: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.size-choicing {
    display: flex;
    flex-direction: column;
}